.flex_container_fluid{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px;
    margin: 0;
    background: #1C1C1C;
  }
  .flex_container{
    max-width: 1440px;
    width: 100%;
    margin: 0;
    padding: 0px;
  }

.footer_container{
  display: flex;
  justify-content: space-between;
  margin: 94px 9% 104px 8%;
  }
  .footer_logo{
    width: 18%;
  }
  .footer_logo p{
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    margin-top: 12px;
  }
  .footer_contact{
    color: white;
    }
    .contact_title{
      color: white;
      font-size: 1em;
      font-weight: 600;
      padding-top: 6px;
      margin-bottom: 24px;
    }
    .contact_mail{
      color: white;
      font-size: 0.9em;
      font-weight: 300;
      text-decoration: underline 1px;
      text-underline-offset: 2px;
      cursor: pointer;
      margin-bottom: 0.5em;
    }
    .contact_address{
      color: white;
      font-size: 0.9em;
      font-weight: 300;
      margin-top: 0.5em;
    }
    .footer_joinUs{
      color: white;
      margin-right: 40px;
      }
      .joinUs_title{
        color: white;
        font-size: 1em;
        font-weight: 600;
        padding-top: 6px;
        margin-bottom: 24px;
      }
      .joinUs_careers{
        color: white;
        font-size: 0.9em;
        font-weight: 300;
        margin-bottom: 0.5em;
        cursor: pointer;
      }
    .footer_beSocial{
      color: white;
      }
      .beSocial_title{
        color: white;
        font-size: 1em;
        font-weight: 600;
        padding-top: 6px;
        margin-bottom: 24px;
      }
      .beSocial_rrss{
        display: flex;
        justify-content: space-between;
        margin-top: 1em;
        width: 70px;
        }
        .beSocial_rrss img{
          cursor: pointer;
        }
    .footer_getBonus{
      display: flex;
      justify-content: flex-end;
      align-self: flex-start;
      width: 25%;
      }
      .btn_getBonus{
        width: 180px;
        border: 1px white solid;
        color: white;
        padding: 0.8em 1.8em;
        font-size: 1em;
        font-weight: 400;
        letter-spacing: 1px;
        text-align: center;
        }
        .btn_getBonus:hover{
            background: black;
            cursor: pointer;
        }


/* MediaQuery tablet */
@media (min-width:541px) and (max-width:960px) {

  .footer_container{
    flex-wrap: wrap;
    margin: 60px 7% 60px 7%;
    }
    .footer_logo{
      margin-bottom: 1.5em;
      width: 100%;
      }
      .footer_logo p{
        color: rgba(255, 255, 255, 0.8);
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
      }
    .footer_contact{
      width: 40%;
    }
    .footer_joinUs{
      margin-right: 0;
      width: 40%;
    }
    .footer_beSocial{
      width: 20%;
    }
    .footer_getBonus{
    justify-content: center;
    margin-top: 1.5em;
    width: 100%;
    }
    .btn_getBonus{
      width: 50%;
    }

}

/* MediaQuery tablet */
@media (min-width:0px) and (max-width:540px) {
  .footer_container{
    flex-wrap: wrap;
    margin: 40px 7% 10px 7%;
    }
    .footer_logo{
      margin-bottom: 1.2em;
      width: 100%;
      }
      .footer_logo p{
        color: rgba(255, 255, 255, 0.8);
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
      }
    .footer_contact{
      width: 60%;
      }
      .contact_title{
        font-size: 18px;
        margin-bottom: 20px;
      }
    .footer_joinUs{
      margin-right: 0;
      width: 40%;
      }
      .joinUs_title{
        font-size: 18px;
        margin-bottom: 20px;
      }
    .footer_beSocial{
      width: 100%;
      margin-top: 1.5em;
      }
      .beSocial_title{
        font-size: 18px;
        margin-bottom: 20px;
      }
    .footer_getBonus{
      width: 100%;
      margin: 2.5em 0;
    }
    .btn_getBonus{
      width: 100%;
    }

}