.flex_container_fluid{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0px;
  align-items: center;
  margin: 0px auto;
  background: #F9FF52;
  overflow: hidden;
}
.flex_container{
  width: 100%;
  max-width: 1440px;
  margin: 0px;
  padding-left: 9%;
  padding-top: 40px;
}
/* .bg_circles{
  position: absolute;
  z-index: 0;
  width: 100%;
  text-align: right;
  right: -200px;
  top: 0;
  height: 250vh;
  overflow: hidden;
}
.bg_circles img{
  position: relative;
  transform: rotateZ(-30deg);
  
    } */

/* MediaQuery TABLET */
@media (min-width:701px) and (max-width:1000px) {

  .flex_container{
    padding-top: 4%;
    }
    .logoQuillok img{
      width: 110px;
    }
}

/* MediaQuery MOBILE */
@media (min-width:0px) and (max-width:700px) {

  .flex_container{
    padding-left: 7%;
    padding-top: 15%;
  }
  .logoQuillok img{
    width: 90px;
  }

}