.flex_container_fluid{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0px;
  margin: 100px 0;
}
.flex_container{
  max-width: 1440px;
  width: 100%;
  margin: 8% 0 0 0;
  padding: 0 7%;
  }
  .WorksTitle{
    width: 100%;
    }
    .titleSection{
      color: #BCBCBC;
      font-size: 12px;
      font-weight: 600;
      letter-spacing: 2px;
    }
    .subtitleSection{
    font-family: "Inter";
    font-weight: 600;
    font-size: 2.5em;
    letter-spacing: -1px;
    line-height: 1.2em;
    margin: 0.1em 0 1em 0;
    }
  .WorksContent{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
    }
    .leftContent{
      margin: 0;
      padding: 0;
      margin-top: 2%;
      }
      .WorksMenu{
        display: flex;
        flex-direction: column;
        }
        .menuShelfSet{
          display: flex;
          }
          .menuArrow{
            position: relative;
            left: 6%;
            z-index: 10;
            width: clamp(2em, 6vw, 7em);
            align-self: center;
          }
          .workSelect{
            position: relative;
            left: 34px;
            z-index: 10;
            font-size: clamp(2em, 5vw, 4em);
            font-weight: 400;
            letter-spacing: -1px;
          }
          .workSelect{
            cursor: pointer;
          }
          .highlight{
            width: 90%;
            padding: 1% 0;
            position: relative;
            background: #F9FF52;
          }
        .workUnselect{
          z-index: 10;
          margin-top: 14%;
          font-size: clamp(2em, 5vw, 4em);
          font-weight: 400;
          letter-spacing: -1px;
          color: #9B9B9B;
        }
        .workUnselect:hover{
          cursor: pointer;
        }
        .btMoreProjects{
          display: flex;
          margin-top: 14%;
          }
          .btMoreProjects:hover{
            cursor: pointer;
          }
          .txtMoreProjects{
            font-size: clamp(1em, 2vw, 1.1em);
            letter-spacing: 1px;
            font-weight: 700;
            text-decoration: underline 2px;
            text-underline-offset: 3px;
            padding: 10px 12px 16px 0;
          }
          .arrowMoreProjects{
            align-self: center;
          }

    .rightContent{
      display: flex; 
      flex-direction: column;
      align-items: flex-end;
    }
    .frameImageWork{
      position: relative;
      border: 2px #1C1C1C solid;
      top: -100px;
      margin: 0px;
      padding: 0px;
      }
      .imageWork{
        position: relative;
        top: -4px;
        left: -8px;
      }
      .workDescription{
        display: flex;
        justify-content: space-between;
        width: 420px;
        margin-top: -50px;
        }
        .numberDesc{
          color: #1C1C1C;
          font-size: 2em;
          font-weight: 700;
          padding: 0 14px 0 0;
        }
        .textDesc{
          color: #1C1C1C;
          font-size: 0.9em;
          font-weight: 500;
          line-height: 1.6em;
          padding: 2px 0 0 0;
        }

/* MediaQuery MOBILE */
@media (min-width:0px) and (max-width:980px) {

  .flex_container_fluid{
    margin: 60px 0;
  }

  .WorksContent{
    flex-direction: column;
  }
  .WorksTitle{
    margin: 20px 0 130px 0;
  }
  .frameImageWork{
    align-self: center;
    left: 8px;
  }
  .leftContent{
    align-self: baseline;
    order: 2;
    margin-top: 0;
  }
  .workDescription{
    flex-direction: column;
    width: 100%;
    margin-top: -80px;
    margin-bottom: 40px;
    }
    .numberDesc{
      font-size: 2em;
      font-weight: 600;
      padding: 0 0 10px 0;
    }
    .textDesc{
      font-size: 0.9em;
      font-weight: 400;
      line-height: 1.5em;
      padding: 2px 0 0 0;
    }
}