.flex_container_fluid{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px;
    background-image: url("../images/portfolioBGcircles.svg");
    background-repeat: no-repeat;
    background-position-x: -420px;
    background-position-y: 20px;
    overflow: hidden;
}
.flex_container{
    max-width: 1440px;
    width: 100%;
    margin: 60px auto 80px auto;
    }
    .titleSection{
        font-family: "Inter";
        font-weight: 600;
        font-size: 2.5em;
        letter-spacing: -1px;
        line-height: 1.2em;
        margin: 0.1em 0 1em 10%;
        }

    .workContent{
        display: flex;
        justify-content: space-between;
        margin: 0px 0px 60px 0px;
        }
        .leftContent{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 40%;
            /* max-width: 470px; */
            margin: 0px 40px 0px 10%;
            }
            .descriptionWork{
                font-family: "Inter";
                color: #1C1C1C;
                font-size: 14px;
                font-weight: 400;
                line-height: 24px;
                padding: 2px 0 0 0;
                margin: 5% 0 8% 0;
                }
        
            .menuSelect{
                display: flex;
                padding: 9% 0;
                }
                .menuArrow{
                    position: relative;
                    max-width: 35px;
                    left: 8%;
                    transform: rotate(90deg);
                    z-index: 10;
                    width: clamp(2em, 6vw, 5em);    
                    align-self: center;
                }
                .workSelect{
                    position: relative;
                    left: 18%;
                    z-index: 10;
                    font-size: 2em;
                    /* font-size: clamp(1.6em, 2vw, 2em); */
                    font-weight: 500;
                    letter-spacing: -1px;
                    line-height: 0.2em;
                }
                .highlight{
                    position: relative;
                    padding: 1% 0;
                    background: #F9FF52;
                }

                .unhighlight{
                    padding: 4% 0;
                    margin: 1% 0 1% 3%;
                    width: 0px;
                    background: rgba(249, 255, 82);
                    transition: all 0.5s ease-out;
                }

                .btsUnselect{
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                }

                .menuUnselect{
                    display: flex;
                    opacity: 0.5;
                    cursor: pointer;
                    transition: all 0.5s ease-out;
                }
                    .arrowUnselect{
                        position: relative;
                        /* max-width: 36px; */
                        /* width: clamp(2em, 6vw, 5em); */
                        align-self: center;
                        margin: 0 16px 0 0;
                    }
                    .workUnselect{
                        font-size: 2em;
                        /* font-size: clamp(1.6em, 2vw, 2em); */
                        font-weight: 500;
                        letter-spacing: -1px;
                        line-height: 0.2em;
                    }
                /* .unhighlight:active, */
                .unhighlight:hover{
                    width: 170px;
                    background: #f9ff52;
                }
                .menuUnselect:hover{
                    padding-left: 20px;
                    opacity: 1;
                }
        
        
        .rightContent{
            display: flex;
            justify-content: center;
            width: 60%;
            margin: 0px 0% 0px 20px;
            }
            .frameImageWork{
                position: relative;
                border: 2px #1C1C1C solid;
                background: white;
                max-width: 470px;
                top: 13px;
                align-self: flex-start;
                }
            .imageWork{
                position: relative;
                top: -13px;
                left: -15px;
            }

/* MediaQuery MOBILE */
@media (min-width:0px) and (max-width:980px) {
.flex_container_fluid{
    background-position-x: -620px;
}
.flex_container{
    flex-wrap: wrap;
    width: 100%;
    }
    .titleSection{
        margin: 0.1em 0 1em 5%;
        }
    .workContent{
        display: flex;
        flex-wrap: wrap;
        }
        .leftContent{
            width: 100%;
            margin: 0px 5% 0px 5%;
            }
            .menuSelect{
                display: flex;
                padding: 6% 0;
                }
                .descriptionWork{
                    margin: 2% 0 2% 0;
                    }
            .unhighlight{
                padding: 2.5% 0;
            }
            .btsUnselect{
                /* width: 20%;
                flex-direction: row;
                justify-content: space-between; */
                padding:2% 0 6% 0;
            }
            
        .rightContent{
            width: 100%;
            padding: 0 5%;
            }
            .frameImageWork{
                max-width: 680px;
                width: 100%;
                }

}
