.flex_container_fluid{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px;
    align-items: center;
    margin: 0;
    background: #F9FF52;
    overflow: hidden;
    }
    .flex_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1440px;
    width: 100%;
    margin: 0px;
    padding: 90px 7% 90px 7%;
        }
        .testimonialTitle{
            width: 360px;
            height: 378px;
            align-self: center;
            display: flex;
            flex-direction: column;
            margin: 0 5px 0 10px;
            }
            .titleSection{
              color: rgba(28, 28, 28, 0.3);
              font-size: 12px;
              font-weight: 700;
              letter-spacing: 2px;
              padding: 0;
              margin: 120px 0 0 70px;
            }
            .subtitleSection{
            font-family: "Inter";
            font-weight: 600;
            font-size: 2.5em;
            letter-spacing: -1px;
            line-height: 1.2em;
            padding: 0 30px 0 0;
            margin: 0 0 0 70px;
            }
            .imgBGtitle{
                position: relative;
                top: -230px;
                left: 40px;
            }
        .strokeBox{
            width: 370px;
            border: 2px #1C1C1C solid;
            margin: 10px 10px 20px 0;
            padding: 0px;
            }
            .testimonialBox{
                display: flex;
                flex-direction: column;
                align-items: stretch;
                position: relative;
                height: 370px;
                top: -8px;
                left: -8px;
                margin: 0px;
                background: white;
               }
               .boxHeader{
                    display: flex;
                    align-items: center;
                    }
                    .testimonialPhoto{
                        margin: 30px 18px 30px 22px;
                    }
                    .testimonialPerson{
                        display: block;
                        }
                        .testimonialName{
                            color: #1C1C1C;
                            font-size: 1.5em;
                            font-weight: 700;
                            letter-spacing: -1px;
                            margin: 0;
                                }
                        .testimonialPosition{
                            color: #1C1C1C;
                            font-size: 1em;
                            font-weight: 500;
                            margin: 0;
                            }
                .boxBody{
                    margin-top: -18px;
                    }
                    .boxBody p{
                        color: #1C1C1C; 
                        font-size: 14px;
                        line-height: 24px;
                        font-weight: 500;
                        margin-bottom: 10px;
                        padding: 0 20px 0 20px;
                        }

@media (min-width: 901px) and (max-width:1324px) {
    .flex_container{
        justify-content: space-around;
    }
    .testimonialTitle{
        width: 360px;
    }
    .strokeBox{
        order: 1;
    }

}


/* MediaQuery tablet */
@media (min-width: 0px) and (max-width:900px) {

    .flex_container{
        justify-content: space-around;
    }

    .flex_container_fluid{
        margin: 0;
    }

    .testimonialTitle{
        width: 380px;
        height: 240px;
    }
    .titleSection{
        margin: 40px 0 0 80px;
    }
    .imgBGtitle{
        top: -200px;
        left: 40px;
    }
    .strokeBox{
        order: 1;
        width: 378px;
    }  
  }

    /* MediaQuery MOBILE */
@media (min-width:0px) and (max-width:500px) {

    .titleSection{
        margin: 70px 0 0 20px;
      }
      .subtitleSection{
      padding: 0 10px 0 0;
      margin: 0 0 0 20px;
      }

    .testimonialTitle{
        margin: -80px 0 0 0;
        height: 260px;
    }
    .strokeBox{
        width: 338px;
        margin: 10px 0px 20px 0;
        }
        .testimonialBox{
            height: 384px;
           }
    .imgBGtitle{
        top: -140px;
        left: 70px;
    }
    .imgBGtitle img{
        width: 220px;
    }
  
  }