.flex_container_fluid{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px;
    align-items: center;
    margin: 0;
    background: #F9FF52;
    overflow: hidden;
    }
    .flex_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 1440px;
    width: 100%;
    margin: 0px;
    padding: 90px 6% 90px 6%;
        }

        .testimonialTitle{
            width: 380px;
            height: 380px;
            padding: 110px 36px 0px 60px;

            }
            .titleSection{
              color: rgba(28, 28, 28, 0.3);
              font-size: 12px;
              font-weight: 700;
              letter-spacing: 2px;
              margin-bottom: -8px;
            }
            .subtitleSection{
                font-family: "Inter";
                font-weight: 600;
                font-size: 2.5em;
                letter-spacing: -1px;
                line-height: 1.2em;
            }
            .imgBGtitle{
                position: relative;
                top: -350px;
                left: -30px;
            }

        .strokeBox{
            width: 370px;
            border: 2px #1C1C1C solid;
            margin: 10px 10px 20px 0;
            padding: 0px;
            }
            .testimonialBox{
                display: flex;
                flex-direction: column;
                align-items: stretch;
                position: relative;
                height: 370px;
                top: -8px;
                left: -8px;
                margin: 0px;
                background: white;
               }
               .boxHeader{
                    display: flex;
                    align-items: center;
                    }
                    .testimonialPhoto{
                        margin: 30px 18px 30px 22px;
                    }
                    .testimonialPerson{
                        display: block;
                        }
                        .testimonialName{
                            color: #1C1C1C;
                            font-size: 1.5em;
                            font-weight: 700;
                            letter-spacing: -1px;
                            line-height: 0.5em;
                            }
                        .testimonialPosition{
                            color: #1C1C1C;
                            font-size: 1em;
                            font-weight: 500;
                            line-height: 1.1em;
                            margin: 4px 0 0 0;
                            }
                .boxBody{
                    margin-top: -28px;
                    padding: 0 20px 10px 20px;
                    }
                    .boxBody p{
                        color: #1C1C1C; 
                        font-size: 14px;
                        line-height: 24px;
                        font-weight: 400;
                        margin-bottom: 20px;
                        }
    .testimonialVacio{
        width: 378px;
        height: 370px;
    }

@media (min-width: 0px) and (max-width:1310px) {
    .strokeBox{
        order: 1;
        height: max-content;
    }
    .testimonialVacio{
        order: 6;
    }
}

/* MediaQuery tablet */
@media (min-width: 0px) and (max-width:862px) {
    
    .flex_container{
        justify-content: space-around;
    }
    .testimonialTitle{
        padding: 10px 36px 0px 60px;
        margin: 0px 0 -50px 0;

        }
    .testimonialVacio{
        display: none;
    }
}

    /* MediaQuery MOBILE */
@media (min-width:0px) and (max-width:500px) {

    .strokeBox{
        width: 100%;
        margin: 10px 0px 20px 0;
        }
        .testimonialBox{
            height: max-content;
           }

    .testimonialTitle{
    width: 350px;
    padding: 0px 22px 0px 0px;
    margin: -20px 0 -120px 0;

        }
        .imgBGtitle{
            top: -270px;
            left: 64px;
        }
        .imgBGtitle img{
            width: 220px;
        }
    .testimonialName{
        font-size: 1.3em;
    }
    .testimonialPosition{
        font-size: 0.9em;
        /* letter-spacing: -1px; */
        }
  
}
@media (min-width:0px) and (max-width:350px) {
    .testimonialTitle{
        padding: 0px;
        margin: -40px 0 -110px 0;
        }
}